.footer__column-link {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    color: white;
    margin-left: 0px;
    transition-property: opacity;
    transition-duration: .35s;
    transition-timing-function: linear;
  }
.footer__column-link:hover {
    opacity: 0.4;
  }