.khan__buy-link {
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    color: #2f80ed;
    margin-top: 0;
    text-decoration: none;
    transition: opacity 1s linear;
    align-self: start;
    transition-property: opacity;
    transition-duration: .35s;
    transition-timing-function: linear;
}

.khan__buy-link:hover {
    opacity: 0.4;
}